@use "variables" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

body {
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
