@use "modules/mixins" as *;
@use "modules/variables" as *;

.content-container {
  @include flex(row, flex-start, stretch);
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding-right: 3em;
}

main {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .content-container {
    padding: $global-pad;
  }
}

@media (max-width: 460px) {
  .content-container {
    #no-employees-container {
      max-width: 90%;
    }
  }
}
