@use "modules/variables" as *;
@use "modules/mixins" as *;

.employee-list-container {
  // Default grid view
  display: grid;
  grid-template-columns: repeat(3, minmax(205px, 1fr));
  gap: 6px;
  padding: $second-pad;




  // view list
  &.view-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    opacity: 0;
    animation: smoothDisplayDelay 0.6s   forwards;

    // Override Card Styling for List View
    .employee-card {
      flex-direction: row;
      height: auto;
      padding: 10px 15px;
      width: 100%;

      img {
        width: $card-img-size-sm;
        height: $card-img-size-sm;
        margin-right: 4%;
        object-fit: cover;
      }

      // Card info
      .card-info {
        @include flex(row, stretch, center);
        flex: 1;
        width: 100%;
        padding: 0;

        h3 {
          @include text-truncate;
          width: 48.5%;
          margin: 0;
          text-align: left;
          font-size: 1rem;
        }

        hr {
          display: none;
        }
      }

      // Details alignment updates
      .details {
        width: 60%;
        justify-content: flex-start;
        span:first-child {
          width: 55%;
        }
      }
    }
  }
}


